<div class="absolute inset-0 w-full h-full">
  <img src="./assets/img/videoflix_start_bkg.jpg" alt="Video Background Image" class="w-full h-full object-cover">
</div>
<div class="absolute inset-0 w-full h-full bg-gradient-to-b from-black/95 via-black/40 to-black/95"></div>
<div class="w-full md:w-6/12 absolute p-12 right-0 left-0 bg-black my-36 mx-auto text-white rounded-lg bg-opacity-70">

  <!-- Login error.detail -->
  <div *ngIf="error" class="bg-red-500 text-white p-4 rounded-md mb-4">
    {{error}}
  </div>

  <!-- Success Message -->
  <div *ngIf="status === 'success'" class="bg-green-500 text-white p-4 rounded-md mb-4">
    {{message}}
  </div>

  <div *ngIf="errorMessage" class="error bg-red-500 text-white p-4 rounded-md mb-4">
    {{ errorMessage }}
  </div>

  <div *ngIf="successMessage" class="success flex flex-col items-center justify-center space-y-2">
    {{ successMessage }}<br>
    <button (click)="navigateToHome($event)" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-slate-700">Return to Homepage</button><div>
    Or</div>
    <div><a href="#" class="text-blue-500 hover:underline" (click)="logout($event)">Logout</a> to Login again.</div>
   
  </div>



  <!-- Reset Password Form -->
  <div class="mt-6 bg-gray-800 p-6 rounded-md">
    <h1 class="font-bold text-3xl py-4">Set New Password</h1>
    <p class="mb-4">The password must be minimum 2 characters long.</p>


        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="oldPassword" class="block text-sm font-medium text-white">Old Password:</label>
            <input type="password" id="oldPassword" formControlName="oldPassword"
                class="mt-1 block w-full px-3 py-2 bg-gray-800 text-gray-300 border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <div *ngIf="resetPasswordForm.get('oldPassword')?.invalid && resetPasswordForm.get('oldPassword')?.touched">
                <small class="text-red-500">Old password is required.</small>
            </div>
        </div>
        <div>
            <label for="newPassword" class="block text-sm font-medium text-white">New Password:</label>
            <input type="password" id="newPassword" formControlName="newPassword"
                class="mt-1 block w-full px-3 py-2 bg-gray-800 text-gray-300 border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
                <small class="text-red-500">Password must be at least 8 characters long.</small>
            </div>
        </div>
        <div>
            <label for="confirmPassword" class="block text-sm font-medium text-white">Confirm New Password:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword"
                class="mt-1 block w-full px-3 py-2 bg-gray-800 text-gray-300 border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <div *ngIf="resetPasswordForm.hasError('passwordsMismatch') && resetPasswordForm.get('confirmPassword')?.touched">
                <small class="text-red-500">Passwords do not match.</small>
            </div>
        </div>
        <button type="submit" [disabled]="resetPasswordForm.invalid"
        [ngClass]="{'bg-gray-500': resetPasswordForm.invalid, 'bg-blue-600 hover:bg-blue-700': !resetPasswordForm.invalid}"
        class="mt-4 w-full px-4 py-2 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Reset Password
    </button>
    <div><a href="#" class="text-blue-500 hover:underline flex flex-col items-center justify-center space-y-2 mt-5" (click)="navigateToHome($event)">Back to Homepage</a></div>
    </form>


  </div>

  <!-- Centered Toggle Button -->
  <!-- <div class="flex flex-col justify-center items-center mt-4">
      <button (click)="navigateToLogin()" class="bg-slate-800 text-white px-4 py-2 rounded-md hover:bg-slate-700">Back may be?</button>
      <div class="py-5">
        Copy not clear yet <a class="underline text-blue-500 cursor-pointer hover:text-blue-300"
          (click)="navigateToRegister()">Where to go?</a>
      </div>
    </div>  -->

</div>