<div class="main_container">
    <h1>Impressum</h1>
    <h2 class="haboro-regular">Angaben gem&auml;&szlig; &sect; 5 TMG</h2> <br>
         <p>Das Lizenz Atelier GmbH &amp; Co. KG<br />
             M&uuml;hlenbergstra&szlig;e 6<br />
             28876 Oyten</p>
 
         <p>Handelsregister: HRA 204912<br />
             Amtsgericht: Walsrode</p>
 
         <p><strong class="haboro-black">Vertreten durch:</strong><br />
             Das Lizenz Atelier Verwaltungsgesellschaft mbH</p>
         <p>Diese vertreten durch:<br />
             Alexander Sch&ouml;nfeld</p>
 
         <p>Handelsregister: HRB 210643<br />
             Amtsgericht: Walsrode</p><br>
             <hr width="100%" size="1" color="#9747ff">
             <h2 class="haboro-regular">Kontakt</h2> 
             <p>Telefon: +49 (0)176-82353674<br/>
                 E-Mail: as@daslizenzatelier.de</p>
     
             <h2 class="haboro-regular">Umsatzsteuer-ID</h2>
             <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
                 DE299286266</p>
     
             <h2 class="haboro-regular">Redaktionell verantwortlich</h2>
             <p>Alexander Sch&ouml;nfeld</p>
             <hr width="100%" size="1" color="#9747ff">
             <h2 class="haboro-regular">EU-Streitschlichtung</h2>
             <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a
                     href="https://ec.europa.eu/consumers/odr/" target="_blank"
                     rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden
                 Sie oben im Impressum.</p>
     
             <h2 class="haboro-regular">Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
             <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
                 teilzunehmen.</p>
     
             <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
 </div>