<div class="absolute inset-0 w-full h-full">
  <img src="./assets/img/videoflix_start_bkg.jpg" alt="Video Background Image" class="w-full h-full object-cover">
</div>
<div class="absolute inset-0 w-full h-full bg-gradient-to-b from-black/95 via-black/40 to-black/95"></div>
<div
  class="w-full md:w-12/12 absolute p-12 right-0 left-0 bg-black my-36 mx-auto text-white rounded-lg bg-opacity-70 flex flex-col items-center justify-center">


  <div (click)="navigateToHome($event)" class="cursor-pointer mx-auto mb-4 flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-white hover:text-green-700" fill="none"
      viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg> Back to Home
  </div>

  <div>
    <app-video-player [videoSrc]="video?.path || ''"></app-video-player>
  </div>

  <div class="resolution-selector m-4">
    <label for="resolution" class="blocktext-sm font-medium text-white">Select Resolution:</label>
    <select id="resolution" (change)="onResolutionChange($event)"
      class="m-4 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md bg-black text-white">
      <option value="480">480p</option>
      <option value="720">720p</option>
      <option value="1080">1080p</option>
    </select>
  </div>

  <p class="m-4">Title: {{video?.title}}</p>
  <p class="m-4">Description: {{video?.description}}</p>

</div>