<div class="absolute inset-0 w-full h-full">
  <img src="./assets/img/videoflix_start_bkg.jpg" alt="Video Background Image" class="w-full h-full object-cover">
</div>
<div class="absolute inset-0 w-full h-full bg-gradient-to-b from-black/95 via-black/40 to-black/95"></div>
<div
  class="w-full md:w-12/12 absolute p-12 right-0 left-0 bg-black my-36 mx-auto text-white rounded-lg bg-opacity-70 flex flex-col items-center justify-center">


  <div (click)="navigateToHome($event)" class="cursor-pointer self-start ml-4 flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-white hover:text-green-700" fill="none"
      viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg> Back to Home
  </div>
  <div>
    <app-video-player [videoSrc]="video?.path || ''"></app-video-player>
  </div>
  <p>Title: {{video?.title}}</p>
  <p>Description: {{video?.description}}</p>

</div>