<div class="absolute inset-0 w-full h-full">
    <img src="./assets/img/escape_frame.png" alt="Video Background Image" class="w-full h-full object-cover">
</div>
<div class="absolute inset-0 w-full h-full bg-gradient-to-b from-black/95 via-black/40 to-black/95"></div>
<div
    class="w-full absolute inset-0 p-12 right-0 left-0 bg-black mx-auto text-white rounded-lg bg-opacity-70 min-h-screen">
    <h1 class="font-bold text-3xl py-4">Home</h1>
    <h1>{{ error }}</h1>
    <div class="absolute inset-0 flex flex-col w-full">

        <div id="herostage" class="bg-blue-500 opacity-40" style="min-height: 60vh;">
            <!-- Content herostage -->
        </div>

        <div id="videoslist" *ngIf="groupedVideosKeys.length > 0; else noVideosTemplate" class="flex-grow">
            <!-- Video Carousels -->
            <ng-container *ngFor="let category of groupedVideos | keyvalue">
                <app-category-carousel [category]="category"></app-category-carousel>
            </ng-container>
        </div>
        
        <ng-template #noVideosTemplate>
            <p class="text-center text-2xl mt-5">No videos available.</p>
        </ng-template>
    </div>
</div>