<div class="absolute inset-0 w-full h-full">
    <img src="./assets/img/escape_frame.png" alt="Video Background Image" class="w-full h-full object-cover">
</div>
<div class="absolute inset-0 w-full h-full bg-gradient-to-b from-black/95 via-black/40 to-black/95"></div>
<div class="w-full absolute inset-0 p-12 right-0 left-0 bg-black mx-auto text-white rounded-lg bg-opacity-70 h-full">
    <h1 class="font-bold text-3xl py-4">Home</h1>
    <div class="absolute inset-0 flex flex-col w-full h-full">
        <!-- Upper div taking 3/4 of the height -->
        <div class="bg-blue-500 opacity-40" style="flex: 3 3 0%;">
            <!-- Content for the upper div -->
        </div>
         <!-- Lower div taking 1/4 of the height -->
         <div class="bg-green-300 opacity-60 flex items-center relative" style="flex: 1 1 0%;">
            <!-- Left arrow for scrolling -->
            <div class="absolute left-0 h-full flex items-center">
                <button class="bg-gray-800 text-white p-2 rounded-full" (click)="scrollLeft()">
                    &#9664;
                </button>
            </div>
            <!-- Container for the nested divs -->
            <div id="videos" class="flex gap-2 overflow-x-auto scrollbar-hide w-full px-10">
                <!-- Nested video elements -->
                <div *ngFor="let video of videos" class="bg-red-500 w-60 h-40 flex-shrink-0">
                    <img [src]="video.imagepath" alt="Video Thumbnail" class="w-full h-full">
                </div>
                <!-- <div *ngFor="let video of videos" class="bg-red-500 w-60 h-40 flex-shrink-0">
                    <video controls class="w-full h-full">
                        <source [src]="video.imagepath" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div> -->
            </div>
            <!-- Right arrow for scrolling -->
            <div class="absolute right-0 h-full flex items-center">
                <button class="bg-gray-800 text-white p-2 rounded-full" (click)="scrollRight()">
                    &#9654;
                </button>
            </div>
        </div>
    </div>
</div>